@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jordanian News</h1>
    <p class="lead">Explore latest sport news & general news.</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

