@model IEnumerable<NewsApp.Web.Models.Issue>

@{
    ViewBag.Title = "User Resport";
}

<h2>User Resport</h2>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IssueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IssueId })
        </td>
    </tr>
}

</table>
